.wbdv-group {
    height: fit-content;
    opacity: 0.8;
    margin-bottom: 10px;
    width: 90%;
    color: green;
}

.wbdv-watch-item {
    height: fit-content;
    opacity: 1;
    margin-bottom: 10px;
    width: 100%;
}

.wbdv-row {
    text-align: center;
}

.wbdv-group-link {
    margin-left: 85%;
    text-align: left;
}

.wbdv-group-btn-text {
    color: white !important;
    text-decoration: none !important;
}

.wbdv-group-container {
     background-color: rgba(255,255,255,0.8);
     color: green;
     text-shadow: 1px 1px 1px black;
     border-radius: 10px;
     padding: 7px;
     margin-top: 2rem;
     height: fit-content;
     width: 90%;
     margin-bottom: 2rem;
}

.wbdv-group-btn {
    margin-bottom: 1rem;
}

.wbdv-add-comment-btn {
    margin-top: 1rem;
}
