.wbdv-group {
    height: fit-content;
    opacity: 0.8;
    margin-bottom: 10px;
    width: 90%;
}

.wbdv-row {
    text-align: center;
}

.wbdv-group-link {
    margin-left: 85%;
    text-align: left;
}
